## 4.4 입출력

### 4.4.1 입력 시작

다음을 입력하고 엔터를 누르면 사용자가 값을 입력하기를 기다립니다.

In [4]:
 x = input('입력하고 엔터')

입력하고 엔터 3

결과는 x에 받아서 다음 처리를 한다. 입력값 데이터 타입을 확인해보자

In [5]:
print(x)
print(type(x))

3
<class 'str'>

입력 값을 정수,실수로 변환하기

In [13]:
x = int(input('정수 : '))

x

x = float(input('실수 : '))

x

정수 :  2
실수 :  3.4

3.4

In [ ]:
i = 0
 
while i < 3:
    a = input("사용자 입력 : ")
    print(f'{i + 1}번째 입력 : {a}')
    i += 1

사용자 입력 :  1

1번째 입력 : 1

사용자 입력 :  1

2번째 입력 : 1

사용자 입력 :  1

3번째 입력 : 1

### 4.4.2 input 함수의 활용

input().split()

split() 내장함수는 문자열을 특정 구분자로 나누고 싶을 때 사용합니다.

가령 split(',')은 쉼표로 구분된 문자열을 나눌 때 사용하면 됩니다다.

split()은 공백으로 되어있으니 띄어쓰기를 구분할 때 사용됩니다.

In [8]:
str = input().split()

 ㅁㄴㅇㄹ ㅁㄴㅇㄹ

10 + 20의 결과가 30이 나오게 하려면 input에서 입력받은 문자열을 숫자(정수)로 만들어주어야 합니다.
방법은 int()라는 함수를 사용합니다

변수 = int(input())
변수 = int(input('숫자를 입력하세요.'))

점수를 입력해서 평균을 내보고 결과를 볼까요?

In [ ]:
i = 0
result = 0
while i < 5:
    a = input("성적 입력 : ")
    result += int(a)
    i += 1
 
 
print(f'평균 : {result / 5}')

성적 입력 :  1
성적 입력 :  2
성적 입력 :  3
성적 입력 :  4
성적 입력 :  5

평균 : 3.0

### 4.4.3 출력함수 print()

print() 함수 는 메시지를 화면이나 다른 표준 출력 장치에 인쇄합니다.

- %포매팅 
- str.format
- f-string

- %포멧

문법은 아래와 같습니다.

print(value(s), sep= ' ', end = '\n', file=file, flush=flush)

In [1]:
num = 50
s = 'my age %d' % num
 
print(s)

my age 50

- str.format()

In [14]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [15]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [16]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

- f'문자열 {변수} 문자열'

In [ ]:
s = 'coffee'
n = 5
result1 = f'저는 {s}를 좋아합니다. 하루 {n}잔 마셔요.'
print(result1)

In [20]:
#카운트다운 응용 프로그램
import time
 
count_seconds = 3
for i in reversed(range(count_seconds + 1)): #미만
    if i > 0:
        print(i, end='>>>')
        time.sleep(1)
    else:
        print('Start')

3>>>2>>>1>>>Start

### 4.4.5 기본 모듈 사용

파이썬에는 기본적으로 프로그램에 필요한 기능 모듈(함수)를 제공합니다.

아래 예 외에도 수십가지의 모듈이 제공되고 있으며 또 많은 모듈들을 다운받아 설치 할 수 있습니다.

PIP를 사용하여 파이썬으로 작성된 패키지를 설치할 수 있습니다. 

새로운 패키지를 설치하기 위해서는 ‘pip install [패키지명]’을 이용합니다

In [ ]:
#adb

In [ ]:
#len

In [5]:
#min,max

min((2,3,4))

#max를 해볼까요?

2

In [9]:
#round()

# sum()

# str()

# range()
x = list(range(5))
x

[0, 1, 2, 3, 4]

In [ ]:
#pow(x,y)

In [2]:
import math
math.sqrt(81)

9.0

In [3]:
from math import factorial
factorial(5)

120