## 1.2 입출력

### 1.2.1 입력 시작

다음을 입력하고 엔터를 누르면 사용자가 값을 입력하기를 기다립니다.

In [2]:
a = input('입력하고 엔터:')
print(type(a))

입력하고 엔터: 하이

<class 'str'>

In [1]:
y = input("무언가를 입력하세요:")

무언가를 입력하세요: 하이

In [6]:
l = len('안녕하세요')

print(l)

5

In [3]:
print('하이')

하이

결과는 x에 받아서 다음 처리를 합니다. 입력값 데이터 타입을 확인해봅시다.

In [2]:
print(x)
print(type(x))

www
<class 'str'>

In [8]:
print(type('111')) # 정수: int    , 실수: float, 문자열:str

<class 'str'>

In [3]:
age = input('나이를 입력하세요')

print(type(age))

나이를 입력하세요 23

<class 'str'>

input()은 항상 문자열로 값을 받아오기 때문에 필요에 따라 값을 정수,실수로 변환해줘야합니다.

In [4]:
x = int(input('정수 : '))
print(x,type(x))
x = float(input('실수 : '))
print(x,type(x))

정수 :  33

33 <class 'int'>
33 <class 'int'>

실수 :  4.4

4.4 <class 'float'>

In [4]:
i = 0
 
while i < 3:
    a = input("사용자 입력 : ")
    print(f'{i + 1}번째 입력 : {a}')
    i += 1

사용자 입력 :  5

1번째 입력 : 5

사용자 입력 :  1

2번째 입력 : 1

사용자 입력 :  2

3번째 입력 : 2

### 1.2.2 input 함수의 활용

input().split()

split() 내장함수는 문자열을 특정 구분자로 나누고 싶을 때 사용합니다.

가령 split(',')은 쉼표로 구분된 문자열을 나눌 때 사용하면 됩니다.

split()은 공백으로 되어있으니 띄어쓰기를 구분할 때 사용됩니다.

In [13]:
str = input().split()
str

 asdf asdf

['asdf', 'asdf']

10 + 20의 결과가 30이 나오게 하려면 input에서 입력받은 문자열을 숫자(정수)로 만들어주어야 합니다.
방법은 int()라는 함수를 사용합니다

변수 = int(input())
변수 = int(input('숫자를 입력하세요.'))

점수를 입력해서 평균을 내보고 결과를 봅시다.

In [6]:
i = 0
result = 0
while i < 5:
    a = input("성적 입력 : ")
    result += int(a)
    i += 1
 
 
print(f'평균 : {result / 5}')

성적 입력 :  3
성적 입력 :  3
성적 입력 :  3
성적 입력 :  3
성적 입력 :  3

평균 : 3.0

### 1.2.3 출력함수 print()

print() 함수 는 메시지를 화면이나 다른 표준 출력 장치에 인쇄합니다.

- %포매팅 
- str.format
- f-string

- %포멧

문법은 아래와 같습니다.
```python
print(value(s), sep= ' ', end = '\n', file=file, flush=flush)
```

In [9]:
num = 30
s = 'my age %d' % num
 
print(s)

my age 30

In [10]:
print('my age ',num)

my age  30

- str.format()

In [8]:
price = 55
txt = "The price is {} dollars"
print(txt.format(price))

The price is 55 dollars

In [9]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [10]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

- f'문자열 {변수} 문자열'

In [11]:
s = 'coffee'
n = 5
result1 = f'저는 {s}를 좋아합니다. 하루 {n}잔 마셔요.'
print(result1)

저는 coffee를 좋아합니다. 하루 5잔 마셔요.

### 1.2.4 예제

In [14]:
x = 1
y = 2
f"{x} + {y}는 {x + y}입니다."

'1 + 2는 3입니다.'

In [16]:
word = "Python"
f"{word}의 첫 두 글자는 {word[:2]} 입니다."

'Python의 첫 두 글자는 Py 입니다.'

In [17]:
word = "Python"
f"{word}를 거꾸로 하면 {word[::-1]} 입니다."

'Python를 거꾸로 하면 nohtyP 입니다.'

In [18]:
f"3회 반복: {','.join([word] * 3)}"

'3회 반복: Python,Python,Python'

In [5]:
a = 3
if a > 1:
    print('a는 1보다 크다')

a는 1보다 크다

# 미션
# 나이를 입력받고 성인이면 성인이니다. 라고 프린트하세요.

In [8]:
age = input("나이를 입력 해주세요.")

print(age,type(age)) 
age = int(age)

if age > 20:
    print("성인입니다.")

나이를 입력 해주세요. 34

34 <class 'str'>
성인입니다.

In [15]:
import random as r

#r.random()
print(type(r))

i = r.randrange(1,4)

print(i,type(i))

p = input('1에서 3사이의 숫자를 선택하세요:')
p = int(p)
#p = int(input('1에서 3사이의 숫자를 선택하세요:'))

print(p,type(p))

if i == p :
    print('유 윈')

<class 'module'>
1 <class 'int'>

1에서 3사이의 숫자를 선택하세요: 1

1 <class 'int'>
유 윈

In [17]:
number = int(input("숫자를 입력하세요: ")) #숫자 입력

eo = number % 2 # = 대입연산자, 오른쪽 정보를 위쪽 변수에 넣는다...

if eo == 0: #짝수 판독기 == 같냐... 비교연산자...
    print("짝수입니다.")

숫자를 입력하세요:  3

In [ ]:
resi_num = input('주민등록번호를 입력하세요.(\'-\'는 생략) :')
gen = resi_num[6]

if gen == '1' or gen == '3':
    print('남성입니다.')

In [22]:
person_number = '800105-2648812'

ssn = person_number.split('-') # '-' 기준으로 나눈다.

print(ssn)

print(ssn[0], ssn[1])  #ssn[0]과 ssn[1] 나누어 진다.

['800105', '2648812']
800105 2648812

In [6]:

date = '24/01/05'

def change_form(date):
    date = '20' + date.replace('/',':')
    return date
    #print(date)

new_date = change_form(date)

print(new_date)

2024:01:05

In [10]:
date = '24/01/05'

def change_form(date):
    splited_date = date.split('/')
    print(type(date),date)
    new_form = '20'+ splited_date[0] + ':' + splited_date[1] + ':' + splited_date[2]
    return new_form
    

new_date = change_form(date)

print(new_date)

<class 'str'> 24/01/05
2024:01:05