## 10.2 집합(SET)

### 10.2.1 집합 시작하기

중복 항목은 허용되지 않습니다. 항목이 여러 번 나타나는 경우 세트에서 하나만 인식됩니다.

세트의 항목은 순서가 없습니다. 세트의 순서는 사용할 때마다 바뀝니다.

세트가 생성되면 세트의 항목 값을 수정/변경할 수 없습니다.

In [12]:
#집합의 선언

sets = set()

print(type(sets))

<class 'set'>

### 26.3.1  세트에 요소 추가하기
add(요소)는 세트에 요소를 추가합니다.

a = {1, 2, 3, 4}

a.add(5)

{1, 2, 3, 4, 5}

In [3]:
a = {1, 2, 3, 4}
a.add(1)
print(a)

{1, 2, 3, 4}

### 세트에서 특정 요소를 삭제하기
remove(요소)는 세트에서 특정 요소를 삭제하고 요소가 없으면 에러를 발생시킵니다.

a.remove(3)

{1, 2, 4, 5}

discard(요소)는 세트에서 특정 요소를 삭제하고 요소가 없으면 그냥 넘어갑니다. 
다음은 세트 a에 2가 있으므로 2를 삭제하고, 3은 없으므로 그냥 넘어갑니다.

a.discard(2)

{1, 4, 5}
a.discard(3)
a
{1, 4, 5}

### 세트에서 임의의 요소 삭제하기
pop()은 세트에서 임의의 요소를 삭제하고 해당 요소를 반환합니다. 만약 요소가 없으면 에러를 발생시킵니다.

a = {1, 2, 3, 4}

a.pop()

1

a

{2, 3, 4}

### 세트의 모든 요소를 삭제하기
clear()는 세트에서 모든 요소를 삭제합니다.

a.clear()

### 세트의 요소 개수 구하기
지금까지 리스트, 튜플, 문자열, range, 딕셔너리의 요소 개수를 구할 때 len 함수를 사용했죠?

마찬가지로 len(세트)는 세트의 요소 개수(길이)를 구합니다.

>>> a = {1, 2, 3, 4}
>>> len(a)
4

### Python에서 집합의 항목에 액세스하는 방법

In [2]:
nameSet = {"John", "Jane", "Doe"}

for names in nameSet:
    print(names)

Doe
Jane
John

In [10]:
anthem = """나 나 너 너 너"""
words = anthem.split()
new_word = set()
for w in words:
    new_word.add(w)
print(new_word)

{'나', '너'}

In [25]:
anthem = """나 나 너 너 너"""
words = anthem.split()
new_word = list() # []
for w in words:
    new_word.append(w)
print(new_word)

new_set = set(new_word)
print(new_set)

['나', '나', '너', '너', '너']
{'나', '너'}

In [26]:
anthem = """나 나 너 너 너"""
words = anthem.split()
word = set(words)
print(word)

{'나', '너'}

### 10.2.2 집합 만들기

세트는 단일 변수에 여러 항목을 저장하는 데 사용됩니다.

Set은 데이터 모음을 저장하는 데 사용되는 Python의 4가지 기본 제공 데이터 유형 중 하나이며 집합은 정렬되지 않은 , 변경 불가능한 색인화되지 않은 모음입니다 .

In [2]:
thisset = {"데이터", "모음", "저장","저장"}
print(thisset)

{'데이터', '모음', '저장'}

In [27]:
s1 = set([1,2,2,2,3,4,5,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [4]:
# 주의 할점은 세트 항목은 순서가 지정되지 않고 변경할 수 없으며 중복 값을 허용하지 않습니다.
# 정렬되지 않음은 세트의 항목에 정의된 순서가 없음을 의미합니다.
# 세트 아이템은 사용할 때마다 다른 순서로 나타날 수 있으며 인덱스나 키로 참조할 수 없습니다.
# 세트 아이템은 변경할 수 없습니다. 즉, 세트가 생성된 후에는 아이템을 변경할 수 없습니다.
# 중복 불가며 세트는 동일한 값을 가진 두 개의 항목을 가질 수 없습니다.

thisset = {"중복", "세트", "동일한", "동일한"}

print(thisset)

{'세트', '동일한', '중복'}

### 10.2.3 합집합

In [5]:
set1 = set([1,2,3,4,5,6])
set2 = set([3,4,5,6,8,9])


print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 8, 9}
{1, 2, 3, 4, 5, 6, 8, 9}

### 10.2.4 교집합

In [6]:
set1 = set([1,2,3,4,5,6])
set2 = set([3,4,5,6,8,9])

print(set1 & set2)
print(set1.intersection(set2))

{3, 4, 5, 6}
{3, 4, 5, 6}

{3, 4, 5, 6}
{3, 4, 5, 6}

{3, 4, 5, 6}

### 10.2.5 차집합

In [7]:
set1 = set([1,2,3,4,5,6])
set2 = set([3,4,5,6,8,9])


print(set1 - set2)
print(set1.difference(set2))

{1, 2}
{1, 2}

### 10.2.6 집합 추가와 제거

In [8]:
set1 = set([1,2,3,4,5,6])
set1.update([7,8,9])         # update
print(set1)

set1.remove(9)               # remove

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
#집합 비우기
nameSet = {"John", "Jane", "Doe"}

nameSet.clear()

print(nameSet)

set()

In [1]:
# 리스트
ll = [1,2,'h',[1,2],True]
print(ll)

[1, 2, 'h', [1, 2], True]

In [2]:
# 튜플
ll = (1,2,'h',[1,2],True)
print(ll)

(1, 2, 'h', [1, 2], True)

In [ ]:
#딕셔너리
di = {'name':'홍길동','age':24,'address':('청양군','123번지')}

In [4]:
#집합(SET)

s1 = {"홍길동","춘향이"}
s2 = {"이순신","김좌진"}

print(s1 | s2)

{'이순신', '김좌진', '홍길동', '춘향이'}

In [1]:
numbers = [1, 2, 3] 
letters = ["A", "B", "C"] 

for pair in zip(numbers, letters): 
    print(pair)

(1, 'A')
(2, 'B')
(3, 'C')

In [3]:
a=1
b=1

if a == b:
    print('a is equal b')

a is equal b

In [4]:
a=1
b=1

if a is b:
    print('a is equal b')

a is equal b

In [6]:
s1 = 'To be or not to be'
s2 = s1
if s1 is s2:
    print('a is equal b')

a is equal b

In [9]:
s3 = 'To be or not'
s3 = s3 + ' to be'
print(s3)
print(s1 is s3)

To be or not to be
False

In [14]:
### 선언
l = list()
print(type(l))
t = tuple()
print(type(t))
d = dict()
print(type(d))
s = set()
print(type(s))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [23]:
### 초기화

l = list(range(10))
print(type(l),l)

t = tuple([1,2,3])
print(type(t),t)

d = dict(name='hong',age=23)
print(type(d),d)

s = set([1,2,3])
print(type(s),s)

<class 'list'> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'tuple'> (1, 2, 3)
<class 'dict'> {'name': 'hong', 'age': 23}
<class 'set'> {1, 2, 3}

In [ ]:
l = []
t = ()
d = {}
s = set()

### 3사람의 주민번호를 키로, 이름을 값으로 정보를 저장하되 딕셔너리 콜랙션 구조를 사용하세요.

In [31]:
person = {}

for i in range(3):
    ssn = input('주민번호:')
    name = input('이름:')
    
    person[ssn] = name
    
for k in person.keys():
    print(k,person[k])

주민번호: 1
이름: 11
주민번호: 2
이름: 22
주민번호: 3
이름: 33

1 11
2 22
3 33

In [39]:
i = 0
while (i < 3) :
    print('본인이름')
    i += 1
    
for i in range(3):
    print('본인이름')

본인이름
본인이름
본인이름
본인이름
본인이름
본인이름

In [35]:
for x in range(2,10):
    for y in range(2,10):
        print(x,'x',y,'=',x*y,end='\n')
    print('')

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [44]:
l = [0,1,4,7,4,5,6,9,8,9]
for x in l:
    print(x)
    if x == 5:
        break

0
1
4
7
4
5

In [41]:
l = list(range(10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
l = list(range(10))
#print(l)

for x in l:
    if (x % 2)==1:
        continue
        
    print(x)

0
2
4
6
8
end

In [60]:
person = {'010-111':'Hong','010-222':'Park','010-333':'Kim'}

phone = input('phone number:')

def check_person(phone):
    for p in person.keys():
        if phone == p:
            return True
        else:
            return False
        
if check_person(phone):
    del person[phone]
else:
    person[phone] = input('new name:')
    
print(person)

phone number: 010-111

{'010-222': 'Park', '010-333': 'Kim'}

In [62]:
l = [1,2,3,1,2,3]
print(l)
s = set(l)
print(s)
x = list(s)
print(x)

[1, 2, 3, 1, 2, 3]
{1, 2, 3}
[1, 2, 3]