## 9.2 투플

### 9.2.1 투플시작하기

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 내부에 리스트와 같은 요소를 넣을 수 있다. 요소는 특별한 제한의 없다.

리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없는 것이 튜플의 가장 큰 특징이다.

튜플은 그러한 특징으로 대량의 데이터를 처리할 때 유용하면 처리 속도가 빠르다.

In [1]:
t1 = () 

t2 = (1,)  
t3 = (1, 2, 3) 

t4 = 1, 2, 3 

t5 = ('a', 'b', ('ab', 'cd'))

In [2]:
t4[0] = 0

TypeError: 'tuple' object does not support item assignment

In [1]:
a = (1,2,3)

a[0] = 4

TypeError: 'tuple' object does not support item assignment

### 돌발문제
a = (1,2,3)
각요소에 2을 곱해서 새로운 리스트를 만들어 보세요....
1. append를 써라...ex) a.append(4) 맴버함수사용...
2. l = []

In [4]:
a = (1,2,3) ### 시퀀스....
l = []

for i in a:
    l.append(i*2)
    
print(l)

[2, 4, 6]

In [2]:
my_list = ("Jessia", "Kelly", 20, 35.75) 
print(my_list[1:6])

my_list[0] = "홍길동"

print(my_list)

('Kelly', 20, 35.75)

TypeError: 'tuple' object does not support item assignment

t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다는 것과 t4 = 1, 2, 3처럼 

괄호( )를 생략해도 처리가 가능하다는 것이다.

우리는 주로 튜플보다 리스트를 주로 사용하는 경우가 많고 거의 비슷하기때문에 많이 다루지는 않겠습니다.

In [ ]:
또한 문자열, 리스트와 마찬가지로 t1[0], t1[3]처럼 인덱싱이 가능하고 슬라이싱도 가능합니다.

튜플 더하고, 곱하기도 가능합니다.